<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.david.plex</string>
	<key>connections</key>
	<dict>
		<key>0097FC6B-9A3B-4607-8056-164FC2A27B93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34A98168-716F-46B4-8976-1462B71B9393</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>07FCE20F-8D96-442E-A4E9-E0572F14A29F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA0AD12A-BBFD-46FC-B47A-DF56A5ED6B17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>10AC052A-721C-464F-9ED2-C0DA9433AC1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25DFCC5A-C6EE-4E27-983A-DB135CF39372</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>25DFCC5A-C6EE-4E27-983A-DB135CF39372</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF132E24-FB09-44A6-80BC-DB0FC2DC0933</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C6BDC3D-77ED-4147-8D3A-609253CB46CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76100DC7-AE61-4B36-910D-9C471DA7CFBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3BD9474B-BFC9-40DB-84A3-E03463DF6DEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5FE110A-D4D4-4F05-9016-4008EFD38E54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>803FED03-9FF3-4B81-93D1-3CD2614BAE7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0307FC2-2C50-42BF-AE6F-DA061AB62D16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>95D330C2-5242-48AF-9EDD-52D9256BCB50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0097FC6B-9A3B-4607-8056-164FC2A27B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>98D4A477-69C8-47EC-B008-6B258601C889</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F8A6749-61D3-40B1-83C0-78129A47CB9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AA0AD12A-BBFD-46FC-B47A-DF56A5ED6B17</key>
		<array/>
		<key>B0307FC2-2C50-42BF-AE6F-DA061AB62D16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7F2F424-3E73-429A-94EC-BA55CD0A7F87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BE862141-7795-42C9-99E6-2F58A1F49F72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98D4A477-69C8-47EC-B008-6B258601C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C5FE110A-D4D4-4F05-9016-4008EFD38E54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6631B9BB-D49E-422E-827A-EE82B1B7BF4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E296FA86-CB85-4F7F-A3CC-F468C8FFC6BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C6BDC3D-77ED-4147-8D3A-609253CB46CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Ferguson</string>
	<key>description</key>
	<string>Control Plex Media Server</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Plex</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>plex search</string>
				<key>runningsubtext</key>
				<string>Searching ...</string>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

$server = exec('defaults read com.alfredapp.plex.plist server');
$port = exec('defaults read com.alfredapp.plex.plist port');
$uuid = exec('defaults read com.alfredapp.plex.plist serverUUID');
$client = exec('defaults read com.alfredapp.plex.plist client');

if ( $server &amp;&amp; $port ):
	$in = urlencode( "{query}" );

	$results = $w-&gt;request("http://$server:$port/search?type=1&amp;query='.$in );
	$xml = simplexml_load_string( $results );

	foreach( $xml-&gt;Video as $vid ):

		if ( $client == 'web' ):
			$file = "web:http://$server:$port/web/index.html#!/servers/$uuid/sections/".$vid['librarySectionID']."/player/".$vid['ratingKey'];
		else:
			$file = 'player:'.$vid-&gt;Media-&gt;Part['key'];
		endif;

		if ( $vid['type'] == "movie" ):
			$w-&gt;result( 'plex:'.$vid['title'], $file, $vid['title']. " (" .$vid['year']. ")" , "Rated: ".$vid['contentRating']. " // Summary: ".$vid['summary'], 'movie.png', 'yes' );
		else:
			$w-&gt;result( 'plex:'.$vid['title'], $file, $vid['grandparentTitle']." - ".$vid['title']. " (" .$vid['year']. ")" , "Rated: ".$vid['contentRating']. " // Summary: ".$vid['summary'], 'tv.png', 'yes', $vid['title'] );
		endif;
	endforeach;

else:
	$w-&gt;result(null, null, "No server configuration found", "Please set your server config and try again", 'icon.png', 'no' );
endif;

echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Search your Plex Media Server</string>
				<key>title</key>
				<string>Search Plex</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>07FCE20F-8D96-442E-A4E9-E0572F14A29F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

$server = exec('defaults read com.alfredapp.plex.plist server');
$port = exec('defaults read com.alfredapp.plex.plist port');
$client = exec('defaults read com.alfredapp.plex.plist client');

if ( $server &amp;&amp; $port ):
	$file = "{query}";

	$arg = explode( ":", $file, 2 );

	if ( $arg[0] == 'web' ):
		exec('open "'.$arg[1].'"');
	else:
		$url = "http://$server:$port/system/players/$client/application/playFile?path=http://$server:$port".$arg[1];
		$w-&gt;request( $url );
	endif;
else:
	echo "No server configuration was found. Please set your server config and try again";
endif;
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA0AD12A-BBFD-46FC-B47A-DF56A5ED6B17</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>plex clients</string>
				<key>runningsubtext</key>
				<string>Listing Plex clients available ...</string>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

$server = exec('defaults read com.alfredapp.plex.plist server');
$port = exec('defaults read com.alfredapp.plex.plist port');

if ( $server &amp;&amp; $port ):
	$url = "http://$server:$port/clients";
	$clients = $w-&gt;request( $url );
	$clients = simplexml_load_string( $clients );
	foreach( $clients-&gt;Server as $server ):
		$w-&gt;result( $server['name'], $server['address'], $server['name'], $server['address'], 'icon.png' );
	endforeach;
	$w-&gt;result( 'plex:web', 'web', 'Web', 'Plex server web client', 'icon.png' );
else:
	$w-&gt;result(null, null, "Server not found", "No server configuration was found. Please save your server config and try again", 'icon.png', 'no' );
endif;

echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Set the active Plex client</string>
				<key>title</key>
				<string>Set Plex Client</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE862141-7795-42C9-99E6-2F58A1F49F72</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Default client saved.</string>
				<key>title</key>
				<string>Plex</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5F8A6749-61D3-40B1-83C0-78129A47CB9C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>f="{query}"
defaults write com.alfredapp.plex.plist client "$f"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>98D4A477-69C8-47EC-B008-6B258601C889</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

$server = exec('defaults read com.alfredapp.plex.plist server');
$port = exec('defaults read com.alfredapp.plex.plist port');
$client = exec('defaults read com.alfredapp.plex.plist client');

if ( $server &amp;&amp; $port &amp;&amp; $client ):
	
	if ( $client == 'web' ):
		echo "Pausing the web player is unsupported";
		return;
	endif;

	$url = "http://$server:$port/system/players/$client/playback/pause";
	$clients = $w-&gt;request( $url );
	echo "Plex paused.";
else:
	echo "No server configuration was found. Please set your server config and try again";
endif;
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5FE110A-D4D4-4F05-9016-4008EFD38E54</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Plex</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6631B9BB-D49E-422E-827A-EE82B1B7BF4A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>plex pause</string>
				<key>subtext</key>
				<string>Pause the current playing media in Plex</string>
				<key>text</key>
				<string>Pause Plex</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3BD9474B-BFC9-40DB-84A3-E03463DF6DEB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>plex play</string>
				<key>subtext</key>
				<string>Resume playing the current media</string>
				<key>text</key>
				<string>Plex Play</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E296FA86-CB85-4F7F-A3CC-F468C8FFC6BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Plex</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>76100DC7-AE61-4B36-910D-9C471DA7CFBD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

$server = exec('defaults read com.alfredapp.plex.plist server');
$port = exec('defaults read com.alfredapp.plex.plist port');
$client = exec('defaults read com.alfredapp.plex.plist client');

if ( $server &amp;&amp; $port &amp;&amp; $client ):
	
	if ( $client == 'web' ):
		echo "Resuming the web player is unsupported";
		return;
	endif;

	$url = "http://$server:$port/system/players/$client/playback/play";
	$clients = $w-&gt;request( $url );
	echo "Resuming playback...";
else:
	echo "No server configuration was found. Please set your server config and try again";
endif;
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C6BDC3D-77ED-4147-8D3A-609253CB46CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>plex stop</string>
				<key>subtext</key>
				<string>Stop playing the current media</string>
				<key>text</key>
				<string>Plex Stop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>803FED03-9FF3-4B81-93D1-3CD2614BAE7C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

$server = exec('defaults read com.alfredapp.plex.plist server');
$port = exec('defaults read com.alfredapp.plex.plist port');
$client = exec('defaults read com.alfredapp.plex.plist client');

if ( $server &amp;&amp; $port &amp;&amp; $client ):
	
	if ( $client == 'web' ):
		echo "Stopping the web player is unsupported";
		return;
	endif;

	$url = "http://$server:$port/system/players/$client/playback/stop";
	$clients = $w-&gt;request( $url );
	echo "Plex stopped.";
else:
	echo "No server configuration was found. Please set your server config and try again";
endif;
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B0307FC2-2C50-42BF-AE6F-DA061AB62D16</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Plex</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D7F2F424-3E73-429A-94EC-BA55CD0A7F87</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Plex</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>34A98168-716F-46B4-8976-1462B71B9393</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>plex server</string>
				<key>subtext</key>
				<string>Set Plex Server Configuration: &lt;server&gt; &lt;port&gt;</string>
				<key>text</key>
				<string>Plex Server</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>95D330C2-5242-48AF-9EDD-52D9256BCB50</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

$in = "{query}";
$in = explode(" ", $in);

$server = $in[0];
$port = $in[1];

exec("defaults write com.alfredapp.plex.plist server $server");
exec("defaults write com.alfredapp.plex.plist port $port");

$xml = $w-&gt;request("http://$server:$port/servers");
$xml = simplexml_load_string( $xml );

foreach( $xml-&gt;Server as $srv ):
	if ( $srv['address'] == $server ):
		exec("defaults write com.alfredapp.plex.plist serverUUID ".$srv['machineIdentifier']);
	endif;
endforeach;

echo "Plex server configuration saved.";</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0097FC6B-9A3B-4607-8056-164FC2A27B93</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>context=$(defaults read com.alfredapp.plex.plist context)
context="{query}"
defaults write com.alfredapp.plex.plist context "$context"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25DFCC5A-C6EE-4E27-983A-DB135CF39372</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>plex browse</string>
				<key>runningsubtext</key>
				<string>Grabbing results ...</string>
				<key>script</key>
				<string>php -f plex.browse.php -- "{query}"</string>
				<key>subtext</key>
				<string>Browse your Plex library</string>
				<key>title</key>
				<string>Browse Plex</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>10AC052A-721C-464F-9ED2-C0DA9433AC1E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "plex browse"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>EF132E24-FB09-44A6-80BC-DB0FC2DC0933</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0097FC6B-9A3B-4607-8056-164FC2A27B93</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>07FCE20F-8D96-442E-A4E9-E0572F14A29F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>10AC052A-721C-464F-9ED2-C0DA9433AC1E</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>25DFCC5A-C6EE-4E27-983A-DB135CF39372</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>2C6BDC3D-77ED-4147-8D3A-609253CB46CE</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>34A98168-716F-46B4-8976-1462B71B9393</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>3BD9474B-BFC9-40DB-84A3-E03463DF6DEB</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>5F8A6749-61D3-40B1-83C0-78129A47CB9C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6631B9BB-D49E-422E-827A-EE82B1B7BF4A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>76100DC7-AE61-4B36-910D-9C471DA7CFBD</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>803FED03-9FF3-4B81-93D1-3CD2614BAE7C</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>95D330C2-5242-48AF-9EDD-52D9256BCB50</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>98D4A477-69C8-47EC-B008-6B258601C889</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AA0AD12A-BBFD-46FC-B47A-DF56A5ED6B17</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B0307FC2-2C50-42BF-AE6F-DA061AB62D16</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>BE862141-7795-42C9-99E6-2F58A1F49F72</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C5FE110A-D4D4-4F05-9016-4008EFD38E54</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D7F2F424-3E73-429A-94EC-BA55CD0A7F87</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E296FA86-CB85-4F7F-A3CC-F468C8FFC6BA</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>EF132E24-FB09-44A6-80BC-DB0FC2DC0933</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://dferg.us</string>
</dict>
</plist>
